body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f3f5;
}

.header {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #3498db;
    color: white;
}

.header__title {
    font-size: 2rem;
    margin: 0;
}

.search-bar {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
}

.search-bar__input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #343a40;
    width: 90%;
    margin-bottom: 1rem;
}

.search-bar__btn {
    padding: 1rem;
    border: none;
    background-color: white;
    color: #3498db;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out; /* Add a subtle animation effect */
}

.search-bar__btn:hover {
    background-color: #f8f9fa;
    transform: scale(1.05); /* Slightly increase the size on hover */
}

.content {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.weather-info__title {
    color: #3498db;
    font-size: 1.5rem;
}