body {
    font-family: Arial, sans-serif;
}

.header {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.header__title {
    color: #343a40;
}

.search-bar {
    max-width: 600px;
    margin: 20px auto;
}

.search-bar__input {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    color: #343a40;
}

.search-bar__btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.weather-info__title {
    color: #3498db;
}
